body {
  background-color: #080909;
  color: white;
  background-image: url("/home/jaba/car/src/back2.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: 2500px;
}
#name {
  color: cadetblue;
  font-size: 20px;
}
#title {
  color: gainsboro;
  margin-top: -30px;
  float: right;
  width: 100%;
  display: flex;
  flex-flow: column-reverse;
  flex-direction: row-reverse;
  align-self: flex-end;
  display: flex;
  margin-right: 20px;
  font-family: myFirstFont;
  font-size: 25px;
  font-weight: bolder;
}
.header {
  width: 50%;
  display: flex;
  justify-content: space-around;
  font-family: "Stick", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
}
.body {
  display: block;
  margin-top: 30px;
}
.buttons {
  /*box-shadow:  2px 2px 5px 1px #ccc;*/
  box-shadow: 0 8px 6px -6px whitesmoke;
  transition: 0.3s;
  cursor: pointer;
  background-color: inherit;
  border: none;
  border-radius: 4px;
  width: 100px;
  margin: 10px;
  text-align: center;
  color: cadetblue;
  font-weight: bold;
}
.buttons:hover {
  box-shadow: 2px 6px 10px 1px #ccc;
}
#city {
  color: #b6bec3;
  line-height: 30px;
  margin-left: 30px;
}
#cities {
  color: #b6bec3;
  line-height: 35px;
  margin-top: 35px;
  width: 80%;
  margin: 0 auto;
  height: auto;
  background-color: #080909;
  text-align: justify;
  padding: 50px;
  /*box-shadow: 1px 1px 10px 0.5px #ccc;*/
  font-family: "Varela Round", sans-serif;
}
th {
  color: cadetblue;
}

td,
th {
  width: 25%;
}
table {
  display: block;
}
.p-about {
  color: #b6bec3;
  line-height: 25px;
  width: 50%;
  margin: 0 auto;
  border: 1px solid #080909;
  background-color: #080909;
  height: auto;
  box-shadow: 1px 1px 10px 0.5px #ccc;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 18px;
}
#about {
  text-align: center;
  display: grid;
  gap: 10px;
  font-family: "Varela Round", sans-serif;
}
form {
  display: flex;
  color: #b6bec3;
  margin-top: 40px;
  margin: 0 auto;
  justify-content: center;
  border: 1px solid #080909;
  width: 35%;
  padding: 20px;
  background-color: #080909;
  box-shadow: 1px 1px 10px 0.5px #ccc;
  border-radius: 4px;
  margin-top: 50px;
  font-family: "Varela Round", sans-serif;
}
form input,
textarea {
  width: 70%;
  margin: 10px;
  font-weight: bold;
  color: cadetblue;
  font-size: 20px;
  border-radius: 4px;
}
.contact {
  display: grid;
  gap: 10px;
  text-align: center;
}
#message {
  margin-top: 10px;
}
#submit {
  width: 72%;
  margin-top: 30px;
  cursor: pointer;
  height: 35px;
  color: cadetblue;
  font-weight: bold;
}

h4 {
  color: cadetblue;
  font-weight: bold;
}
textarea {
  width: 70%;

  height: 110px;
}

#contact {
  margin-top: 30px;
  text-align: center;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

@media screen and (max-width: 630px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .buttons {
    width: 95%;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
  }
  #other-form {
    display: flex;
    flex-direction: column;

    align-self: center;
    margin-left: 0;
    width: inherit;
  }
  #inp,
  #other-form {
    margin: 0 auto;
    width: 80%;
  }
  textarea {
    width: 75%;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 10px;
  }
  #submit {
    width: 75%;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 15px;
    height: 35px;
  }
  #title {
    margin: 0 auto;
    margin-top: 0px;
    text-align: center;
    margin-top: 20px;
    width: 50%;
  }
  body {
    background-size: cover;
    background-position: 25% 25%;
  }
  #cities {
    width: 50%;
  }
}
@media screen and (max-width: 1200px) {
  form {
    width: 80%;
  }
  body {
    background-size: cover;
  }
  #cities {
    width: 60%;
  }
  #title {
    width: 50%;
  }
  form {
    width: 60%;
  }
}
@font-face {
  font-family: myFirstFont;
  src: url(./3d_unicode.ttf);
}
